<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <img src="https://blog.ignitia.se/wp-content/uploads/2019/04/Types-of-clouds.jpg" alt="Clouds" /><br />
    <p>Welcome to <%= title %></p>
    <% clouds.forEach(cloud => { %>
      <p><strong><%= cloud.name %> is a <%= cloud.type %> cloud. It is <%= cloud.size %> big.</p>
    <% }) %>
  </body>
</html>
